<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Pagination
    </title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


    <script>
        var app = angular.module('main', []);

        app.controller('cont', function ($scope, $http) {

            $scope.dataQuery = [];

            $scope.links = [];

            loadData("");

            function loadData(query) {

                $http.get('query3.php' + query)

                    .then(function (res) {

                        $scope.dataQuery = res.data;

                        $scope.links = [];

                        createLinks(res.data);

                    })
            }

            function createLinks(list) {

                for (var i = 0; i < list.pageCount; i++) {
                    $scope.links.push({ page: i + 1 });
                }

            }

            $scope.nav = function (page) {

                loadData("?page=" + page);
            }

        })

      
    </script>


</head>

<body ng-app="main" ng-controller="cont">
    <div class="container">

        <nav aria-label="Page navigation">

            <ul class="pagination">

                <li ng-repeat="data in links" ng-class="{'active' :dataQuery.currentPage == data.page}">

                    <a href="#" ng-click="nav($index + 1)">{{$index + 1}}</a>

                </li>

            </ul>

        </nav>

        <table class="table">
            <thead>

                <th>#</th>
                <th>Description</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="data in dataQuery.data">
                    <td>{{$index + 1}}</td>
                    <td>{{data.description}}</td>
                    <td><input type="button" value="open" class="btn btn-sm btn-primary"></td>
                </tr>
            </tbody>
        </table>



        <h6>Showing page {{dataQuery.currentPage}} of {{dataQuery.pageCount}} </h6>

    </div>

</body>

</html>